.container {
  border: 2px solid #dedede;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.darker {
  max-height: 12px;
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.messages{/*
    border: thick solid #000;
    border-width: 2px;
    margin-top: 16px;*/
    position: static;
    width: 5px;
    height: 20px;
    display: block;
    
    background-color: white;
    border-top: 1px solid #e6ecf0;
    padding: 8px 18px 8px 18px;
    font-size: .9em;
}

#msg_field{
    margin-left: 24px;
    margin-top: 16px;
    width: 1000px;
}

#send_btn{
    margin-top: 16px;
    height: 40px;
}
